<footer class="footerbd">
  <div class="f-info">
    <div class="f-info-socials">
      <i class="fa-brands fa-facebook" style="margin-right: 1rem"></i>
      <i class="fa-brands fa-instagram" style="margin-right: 1rem"></i>
      <i class="fa-brands fa-linkedin" style="margin-right: 1rem"></i>
    </div>
    <div>&copy;WanderLust Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy" onclick="return false;">Privacy</a>
      <a href="/terms" onclick="return false;">Terms</a>
    </div>
  </div>
</footer>
